<%= form_with(model: @painting, local: true, data: { controller: "images"}) do |f| %>

  <%
=begin%>
 <%= render 'layouts/errors', obj: @painting %> 
<%
=end%>

  <div class="mb-3">
    <%= f.label :name, "タイトル", class: "font-semibold block p-1" %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="mb-3">
    <%= f.label :author_id, "作者ID", class: "font-semibold block p-1" %>
    <%= f.number_field :author_id, autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :images, "画像", class: "font-semibold block p-1" %>
    <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", data: { images_target: "select", action: "change->images#selectImages" } %>
  </div>
  <div data-images-target="preview">
    <% if @painting.images.attached? %>
      <% @painting.images.each do |image| %>
        <div class="image-box inline-flex mx-1 mb-5" data-controller="images" data-images-target= "image_box">
          <div class="text-center">
            <%= image_tag image, width: "100" %>
            <a class="link cursor-pointer" data-action="click->images#deleteImage">削除</a>
            <%= f.hidden_field :images, name: "painting[images][]", style: "display: none", value: "#{image.blob.id}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.submit  "投稿する", class: "btn btn-sky" %>
  </div>
<% end %>