<header class="bg-dark" style="padding: 10px 20px; display: flex; justify-content: space-between; align-items: center;">
  <!-- ロゴのセクション -->
  <div id="logo">
    <%= link_to root_path do %>
     <%= image_tag '8th_SunGallary_logo', class: "img-fluid custom-logo-size", alt: "Responsive image" %>
      <% end %>
  </div>

  <!-- ナビゲーションリンクのセクション -->
  <div id="navbar">
    <ul style="list-style: none; display: flex; margin: 0; padding: 0;">
      <%
=begin%>
 <li style="margin-left: 20px;"><%= link_to "Search", "#", style: "color: white; text-decoration: none;" %></li> 
<%
=end%>
      <% unless general_user_signed_in? %>
        <li style="margin-left: 20px;"><%= link_to "Login", new_general_user_session_path, style: "color: white; text-decoration: none;" %></li>
        <li style="margin-left: 20px;"><%= link_to "Sign Up", new_general_user_registration_path, style: "color:white; text-decoration: none;" %></li>
      <% end %>%>
      <% if general_user_signed_in? %>
        <li style="margin-left: 20px;">
          <%= link_to current_general_user.name, general_users_profile_path, style: "color: white; text-decoration: none;" %>
        </li>
        <li style="margin-left: 20px;">
          <%= button_to "ログアウト", destroy_general_user_session_path, method: :delete, form: { data: { turbo: false, confirm: "本当にログアウトしますか？" } }, class: "btn btn-link" , style: "color: white; text-decoration: none;"%>
        </li>
      <% end %>
    </ul>
  </div>
</header>
